dify/app creator/App Creator Prototype.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: App Creator Prototype
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.2.7@b8a04c0155eb3b9d43ed1199b4387e7f67ef75ad63fcec466eab31a726e2c3a0
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1756820253386-source-1756824342559-target
      selected: false
      source: '1756820253386'
      sourceHandle: source
      target: '1756824342559'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1757075547683-source-1757077407622-target
      source: '1757075547683'
      sourceHandle: source
      target: '1757077407622'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1757077407622-source-1756826359838-target
      source: '1757077407622'
      sourceHandle: source
      target: '1756826359838'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1756826359838-source-1757079071922-target
      source: '1756826359838'
      sourceHandle: source
      target: '1757079071922'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1757080929697-source-1756825484203-target
      source: '1757080929697'
      sourceHandle: source
      target: '1756825484203'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1757079584477-source-1757082045123-target
      source: '1757079584477'
      sourceHandle: source
      target: '1757082045123'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1757079071922-source-1757079584477-target
      source: '1757079071922'
      sourceHandle: source
      target: '1757079584477'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1757082045123-source-1757084569421-target
      source: '1757082045123'
      sourceHandle: source
      target: '1757084569421'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1757084569421-source-1757080929697-target
      source: '1757084569421'
      sourceHandle: source
      target: '1757080929697'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1756824342559-source-1757513100087-target
      source: '1756824342559'
      sourceHandle: source
      target: '1757513100087'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1757513100087-source-1757517270098-target
      source: '1757513100087'
      sourceHandle: source
      target: '1757517270098'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1757517270098-source-1757075547683-target
      source: '1757517270098'
      sourceHandle: source
      target: '1757075547683'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Query
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: Query
      height: 90
      id: '1756820253386'
      position:
        x: 30
        y: 294
      positionAbsolute:
        x: 30
        y: 294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Get DSL
        type: http-request
        url: https://raw.githubusercontent.com/ExperienceHunter/dify/refs/heads/main/dify/template/AI%20Powered%20Apps/ChatBot%20Template.yml?token=GHSAT0AAAAAADKL6JJHS6HUT4EGXAK45VX62GG3VNA
        variables: []
      height: 220
      id: '1756824342559'
      position:
        x: 331.1428571428571
        y: 294
      positionAbsolute:
        x: 331.1428571428571
        y: 294
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1757080929697'
          - text
          value_type: string
          variable: URL
        selected: false
        title: End
        type: end
      height: 90
      id: '1756825484203'
      position:
        x: 1866.5714285714284
        y: 294
      positionAbsolute:
        x: 1866.5714285714284
        y: 294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config:
            api_key: '{{#1757077407622.access_token#}}'
            type: bearer
          type: api-key
        body:
          data:
          - id: key-value-714
            key: ''
            type: text
            value: "{\n  \"mode\": \"yaml-content\",\n  \"yaml_content\": \"{{#1757517270098.dsl#}}\"\
              \n}"
          type: json
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Import DSL
        type: http-request
        url: http://docker-api-1:5001/console/api/apps/imports
        variables: []
      height: 140
      id: '1756826359838'
      position:
        x: 938.5714285714287
        y: 294
      positionAbsolute:
        x: 938.5714285714287
        y: 294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-1552
            key: ''
            type: text
            value: "{\n  \"email\": \"xzakwanzahidx@gmail.com\",\n  \"password\":\
              \ \"Password123\"\n}\n\n"
          type: json
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Login
        type: http-request
        url: http://docker-api-1:5001/console/api/login
        variables: []
      height: 140
      id: '1757075547683'
      position:
        x: 646.2857142857144
        y: 294
      positionAbsolute:
        x: 646.2857142857144
        y: 294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(credential: str) -> dict:\n    # Parse the\
          \ JSON string from the login node\n    body_json = json.loads(credential)\n\
          \    \n    # Extract the access token\n    access_token = body_json.get(\"\
          data\", {}).get(\"access_token\", \"\")\n    \n    return {\n        \"\
          access_token\": access_token\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          access_token:
            children: null
            type: string
        selected: false
        title: Extract Access Token
        type: code
        variables:
        - value_selector:
          - '1757075547683'
          - body
          value_type: string
          variable: credential
      height: 54
      id: '1757077407622'
      position:
        x: 646.2857142857144
        y: 449.71428571428567
      positionAbsolute:
        x: 646.2857142857144
        y: 449.71428571428567
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(response: str) -> dict:\n    # Parse the JSON\
          \ string from the import node\n    body_json = json.loads(response)\n  \
          \  \n    # Extract the DSL id and App id\n    dsl_id = body_json.get(\"\
          id\", \"\")\n    app_id = body_json.get(\"app_id\", \"\")\n    \n    return\
          \ {\n        \"dsl_id\": dsl_id,\n        \"app_id\": app_id\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          app_id:
            children: null
            type: string
          dsl_id:
            children: null
            type: string
        selected: false
        title: Extract App ID
        type: code
        variables:
        - value_selector:
          - '1756826359838'
          - body
          value_type: string
          variable: response
      height: 54
      id: '1757079071922'
      position:
        x: 938.5714285714287
        y: 461.1428571428571
      positionAbsolute:
        x: 938.5714285714287
        y: 461.1428571428571
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config:
            api_key: '{{#1757077407622.access_token#}}'
            type: bearer
          type: api-key
        body:
          data:
          - id: key-value-1402
            key: ''
            type: text
            value: "{\n  \"workflow_id\": \"{{#1757079071922.dsl_id#}}\"\n}\n"
          type: json
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Publish Workflow
        type: http-request
        url: http://docker-api-1:5001/console/api/apps/{{#1757079071922.app_id#}}/workflows/publish
        variables: []
      height: 175
      id: '1757079584477'
      position:
        x: 1240.5714285714284
        y: 294
      positionAbsolute:
        x: 1240.5714285714284
        y: 294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 622c6fb4-d4d1-4919-8ed2-d8d9390b1614
          role: system
          text: 'You are an assistant that gives out only the URL of an app.

            The url is {{#1757084569421.public_url#}}. '
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1757080929697'
      position:
        x: 1551.142857142857
        y: 294
      positionAbsolute:
        x: 1551.142857142857
        y: 294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config:
            api_key: '{{#1757077407622.access_token#}}'
            type: bearer
          type: api-key
        body:
          data: []
          type: none
        desc: ''
        headers: Content-Type:application/json
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Get Publish URL
        type: http-request
        url: http://docker-api-1:5001/console/api/apps/{{#1757079071922.app_id#}}
        variables: []
      height: 159
      id: '1757082045123'
      position:
        x: 1240.5714285714284
        y: 508.28571428571433
      positionAbsolute:
        x: 1240.5714285714284
        y: 508.28571428571433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(response: str) -> dict:\n    # Parse the JSON\
          \ string\n    body_json = json.loads(response)\n    \n    # Extract relevant\
          \ IDs\n    dsl_id = body_json.get(\"id\", \"\")\n    app_id = body_json.get(\"\
          app_id\", \"\")\n    \n    # Extract the public URL code\n    site = body_json.get(\"\
          site\", {})\n    public_code = site.get(\"code\", \"\")\n    \n    # Construct\
          \ the full public URL using localhost base\n    public_url = f\"http://localhost/chat/{public_code}\"\
          \ if public_code else \"\"\n    \n    return {\n        \"dsl_id\": dsl_id,\n\
          \        \"app_id\": app_id,\n        \"public_code\": public_code,\n  \
          \      \"public_url\": public_url\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          app_id:
            children: null
            type: string
          dsl_id:
            children: null
            type: string
          public_code:
            children: null
            type: string
          public_url:
            children: null
            type: string
        selected: false
        title: Extract URL
        type: code
        variables:
        - value_selector:
          - '1757082045123'
          - body
          value_type: string
          variable: response
      height: 54
      id: '1757084569421'
      position:
        x: 1240.5714285714284
        y: 695.4285714285713
      positionAbsolute:
        x: 1240.5714285714284
        y: 695.4285714285713
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1756824342559'
          - body
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 90ad1110-1692-4922-8b78-05c044ed7f29
          role: system
          text: "You are an assistant that generates structured JSON output for a\
            \ Dify LLM node.\n\nYou will receive:\n- The user's request describing\
            \ what to change: {{#1756820253386.Query#}}\n\nYour task:\n- Generate\
            \ ONLY a JSON object with two fields: \"title\" and \"prompt_template\"\
            .\n- \"title\": A short, clear, relevant title based on the user's request.\n\
            - \"prompt_template\": The system prompt text for the LLM, based on the\
            \ user's request.\n\nOutput requirements:\n- JSON ONLY. No explanations,\
            \ no extra text, no code fences.\n- Use double quotes for all keys and\
            \ string values.\n- Include both fields exactly; no extra fields allowed.\n\
            - Ensure valid JSON: properly escaped strings, no trailing commas.\n\n\
            Example correct output:\n{\n  \"title\": \"Travel Helper Bot\",\n  \"\
            prompt_template\": \"You are a helpful assistant that helps users plan\
            \ trips.\"\n}\n"
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              prompt_template:
                description: The system prompt text that will go into prompt_template.text.
                type: string
              title:
                description: A short, clear, and relevant title for the chatbot.
                type: string
            required:
            - title
            - prompt_template
            type: object
        structured_output_enabled: false
        title: Edit DSL
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1757513100087'
      position:
        x: 331.1428571428571
        y: 532.5714285714286
      positionAbsolute:
        x: 331.1428571428571
        y: 532.5714285714286
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\nimport re\n\ndef main(dsl_template: str, llm_response:\
          \ str) -> dict:\n    \"\"\"\n    dsl_template: The DSL template as a string\n\
          \    llm_response: The LLM response containing 'text' field with JSON inside\
          \ code block\n    \"\"\"\n    # Step 1: Parse the LLM response as JSON\n\
          \    try:\n        llm_data = json.loads(llm_response)\n        llm_text\
          \ = llm_data.get(\"text\", \"\")\n    except Exception:\n        llm_text\
          \ = llm_response\n\n    # Step 2: Extract JSON inside ```json ... ``` if\
          \ present\n    match = re.search(r\"```json\\s*(\\{.*\\})\\s*```\", llm_text,\
          \ re.DOTALL)\n    if match:\n        json_content = match.group(1)\n   \
          \     try:\n            llm_content = json.loads(json_content)\n       \
          \     llm_title = llm_content.get(\"title\", \"\")\n            llm_prompt\
          \ = llm_content.get(\"prompt_template\", \"\")\n        except Exception:\n\
          \            llm_title = \"\"\n            llm_prompt = llm_text\n    else:\n\
          \        llm_title = \"\"\n        llm_prompt = llm_text\n\n    # --- Replace\
          \ app.name ---\n    if llm_title:\n        search_name = \"name:\"\n   \
          \     idx_name = dsl_template.find(search_name)\n        if idx_name !=\
          \ -1:\n            end_idx = dsl_template.find(\"\\n\", idx_name)\n    \
          \        if end_idx != -1:\n                new_name_line = f\"name: {llm_title}\"\
          \n                dsl_template = dsl_template[:idx_name] + new_name_line\
          \ + dsl_template[end_idx:]\n\n    # --- Replace prompt_template.text ---\n\
          \    search_str = \"prompt_template:\"\n    idx = dsl_template.find(search_str)\n\
          \    if idx != -1:\n        start_idx = dsl_template.find(\"text:\", idx)\n\
          \        end_idx = dsl_template.find(\"\\n        selected:\", start_idx)\n\
          \        if start_idx != -1 and end_idx != -1:\n            indent = \"\
          \              \"\n            new_text_block = f'text: |\\n{indent}{llm_prompt.replace(chr(10),\
          \ chr(10)+indent)}'\n            dsl_template = dsl_template[:start_idx]\
          \ + new_text_block + dsl_template[end_idx:]\n\n    return {\"dsl\": dsl_template}\n"
        code_language: python3
        desc: ''
        outputs:
          dsl:
            children: null
            type: string
        selected: false
        title: Append DSL
        type: code
        variables:
        - value_selector:
          - '1756824342559'
          - body
          value_type: string
          variable: dsl_template
        - value_selector:
          - '1757513100087'
          - text
          value_type: string
          variable: llm_response
      height: 54
      id: '1757517270098'
      position:
        x: 331.1428571428571
        y: 662.5714285714287
      positionAbsolute:
        x: 331.1428571428571
        y: 662.5714285714287
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 103
      y: 53.7000000000001
      zoom: 0.7
